
body{
    line-height: 1.5;
    background-color: #cccccc;
}
.resume{
    text-align: center;
}
header{
   border: black;
   font-size: 1px; 
}
.info-datas{
    text-align: center;
}
table {   
    transform-origin: 55px;
    text-align: center;
    margin: -15px;
    border-color: black;
    display: inline;
}
.containers{
    margin: 20px 0 0 50px;
}
.container{
    width: 1463px;
    margin: 20px auto;
}
header h1{
    font-size: 55px;  
    font-family: sans-serif;
    padding: 10px;
    margin: 100px;
    color: orangered;
}
header .connect{
    padding: 18px;
    margin-bottom: auto;
}
header .images{
    border: yellow;
    border-radius: 8%;
    margin: -170px 0px 50px 1080px;
}
.info-data{
    margin-left: 21px;
}
.information h3{
    background-color: #ee82ee80;
    padding: 15px;
    font-size: 30px;
}
.information p,
.information table{
    padding: 10px 10px;
}
.style{
    text-align: center;
}
.table-1 td{
    padding: 5px; 
    background-color: #a0522d7d;
}
.table-1 th{
    background:#70bdbdba;
    padding: 5px;
}
.ordered-list-1{
    list-style: lower-alpha;
    list-style-position: inside;
}
.ordered-list-1 h6{
    margin-left: 30px;
}
.info-data1{
    margin-left: 21px;
    margin-bottom: 30px;
}
.form-style-1 .fixed-width{
    min-width: 150px;
    display: inline-block;
}
.form-style-1 .input-section{
    margin: 20px;
}
.form-style-1 .action-section{
    margin-left: 200px;
    display:inline-block ;
    cursor: pointer;
}
.form-style-1 input[type='text'],
.form-style-1 input[type='email'],
.form-style-1 input[type='tel'],
.form-style-1 select,
.form-style-1 textarea{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #008eff8a;
    padding: 8px 30px;
    min-width: 200px;
}
textarea{
    min-height: 140px;
}
.form-style-1 input:focus{
    border-color:crimson;
    outline: none;
    box-shadow: blueviolet 0 0 7px;
}
.primary-button{
    background-color: cornflowerblue;
    border: none #ffffff;
    padding: 10px 30px;
    color: #ffffff;
    cursor: pointer;
}
.text{
    margin: 10px 40px;
}
.error-message{
    color: crimson;
    margin-left: 180px;
    padding: 10px 0 0 0;
    font-size: 12px;
    display: none;
   
}
.checkbox{
    width: 50px;
    height: 50px;
}