
@media(min-width:426px) and (max-width:768px){
    header h2{
        color: rgb(30, 15, 236);
    }
    .container{
        width: 300px;    
        }
}
@media(min-width:769px) and (max-width:1024px){
    header h2{
        color: rgb(15, 207, 255);
    }
    .container{
        width: 600px;    
        }
}
@media(min-width:1025px) and (max-width:1440px){
    header h2{
        color: rgb(12, 219, 57);
    }
    .container{
        width: 600px;    
        }
}

