
@media(min-width:426px) and (max-width:768px){
    .head h2{
        font-size: 40px;
        color: crimson;
    }
   
    .container{
        width: 400px;    
        }
}
@media(min-width:769px) and (max-width:1024px){
    .head h2{
        font-size: 60px;
        color: cyan;
    }
   
    .container{
        width: 600px;    
        }
}
@media(min-width:1025px) and (max-width:1440px){
    .head h2{
        font-size: 80px;
        color: darkmagenta;
    }
   
    .container{
        width: 600px;    
        }
}

