body{
    line-height: 1;
}

table{
    
    transform-origin: 15px;
    text-align: center;
    text-shadow: violet;
    background-color: tomato;
}
.container{
    width: 500px;  
    margin: auto;
    background-color: violet;
    padding: 0px 20px;
    padding-bottom: 10px;
}

header h1{
    font-size: 45px;
    font-family: sans-serif;
    padding: 15px;
}
header .connect{
    background-color: tomato;
    padding: 18px;
    margin-bottom: auto;
}
header .connect a:link{

}
header .connect a:hover{

}
header .connect a:active{

}
header .connect a:visited{
    
}
header .container{
    border: yellow;
    margin: 25px;

}
.information{
    border: solid 2px;
    margin: 30px;

}
.information h3{
    background-color: violet;
    padding: 15px;

}

}
.information p,
.information table{
padding: 25px 15px;
}
.information .info-data{
    padding: 25px 15px;
    font-size: 20px;
}
.table-1{

}
.table-1 tr{

}
.table-1 td{
    padding: 10px;
    margin: 15px;
    background-color: sienna;
}
.table-1 th{
    background: teal;
    padding: 10px;
    border: goldenrod;
}
.ordered-list-1{
    list-style: lower-alpha;
    list-style-position: inside;
}